body{
    
background-image:url(https://tse1.mm.bing.net/th?id=OIP.y9jQqi5UPefimRNKyIkyZgHaHa&pid=Api&P=0&w=300&h=300) ;
}
center{
        font-family: Alfa Slab One, display;
        font-size: 35px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 1);
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 2em;
        letter-spacing: 0px;
    }

